# --- 변수와 자료형 ---
## 변수
계산에 필요한 자료를 일시적으로 저장하거나 처리결과를 담을 수 있는 기억장소를 지정해 주는 역할.   
변수 이름은 값을 지정하는 메모리 영역의 이름으로 할당.

## 변수 이름의 작성 규칙
- 첫자는 영문으로 시작.
- 첫자를 제외하고 숫자, under bar, dot를 사용할 수 있음
- 대문자와 소문자를 구분.
- 변수 이름은 의미를 파악할 수 있는 이름으로 저장하는 것이 좋음.
- 두 단어를 포함한 변수 이름을 지정할 경우 두 번째 단어의 첫자는 대문자로 표시(camel method)나 under bar(snake method)로 표시하는 것이 가독성이 좋음.

# 자료형
## 숫자 자료형

In [1]:
# 정수형
var01 = 123
var01 = -17
var01 = 0

var01
# jupyter로 사용하기 때문에 print()가 필요 없음

0

In [2]:
# 실수형

var02 = 1.2
var02 = -12.34

var02

-12.34

In [3]:
# 연산자

var01 = 3
var02 = 4

print('덧셈 :', var01 + var02)
print('뺄셈 :', var01 - var02)
print('곱셈 :', var01 * var02)
print('실수 나눗셈 :', var01 / var02)
print('정수 나눗셈 몫 :', var01 // var02)
print('정수 나눗셈 나머지 :', var01 % var02)
print('제곱 :', var01 ** 2)
print('제곱 :', pow(var01, 2))

덧셈 : 7
뺄셈 : -1
곱셈 : 12
실수 나눗셈 : 0.75
정수 나눗셈 몫 : 0
정수 나눗셈 나머지 : 3
제곱 : 9
제곱 : 9

## 파이썬 모듈을 이용한 수학계산

In [4]:
# 수학계산 모듈 불러오기
import math

In [5]:
# 거듭제곱
math.pow(var01, 2)

9.0

In [6]:
# 제곱근
math.sqrt(var01)

1.7320508075688772

In [7]:
# sin(45)
math.sin(45)

0.8509035245341184

In [8]:
# sin(45)^2 + cos(45)^2
math.pow(math.sin(45),2) + math.pow(math.cos(45),2)

1.0

# 난수 발생

In [9]:
import random

In [10]:
# 정수형 난수
random.randint(1, 100)

57

In [11]:
rlist = [1,2,3,4,5]
random.sample(rlist,3)

[4, 3, 1]

In [12]:
alist = range(1, 101)
for i in alist:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [13]:
# 로또 자동번호 생성기
alist = range(1, 45)
random.sample(alist, 6)

[44, 23, 21, 9, 28, 7]

In [19]:
# 메모리에 있는 변수 보기
dir()

['In',
 'Out',
 '_',
 '_1',
 '_10',
 '_11',
 '_13',
 '_2',
 '_5',
 '_6',
 '_7',
 '_8',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'alist',
 'exit',
 'get_ipython',
 'i',
 'math',
 'quit',
 'random',
 'rlist',
 'var01',
 'var02']

In [21]:
# 메모리에 있는 변수 지우기
del var01
var01

NameError: name 'var01' is not defined

# 관계 연산자

In [22]:
num1 = 100
num2 = 20

In [26]:
# 동등비교
print(num1 == num2)
# 값은 False
print(num1 != num2)
# 값은 True

False
True

In [29]:
# 크기 비교
num1 > num2
num1 < num2

# 위는 마지막 연산 결과만 보여주므로 print를 씀
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)

True
False
True
False

# 논리연산자

In [32]:
# And, Or
print((num1 >= 50) & (num2 <= 10))
print((num1 >= 50) | (num2 <= 10))

False
True

In [34]:
# 부정 연산자
not(num1 >= 50)

False

---

# 문자열 자료형

In [35]:
var01 = "Hello World!"
var01

'Hello World!'

In [40]:
# 여러 줄의 문자열 출력 (<html></html>의 내용을 쓸 때 사용)

var01 = """
        Hello World!
        Good to meet you!
"""
print(var01)

        Hello World!
        Good to meet you!

In [42]:
# 쌍따옴표와 홑따옴표의 사용
var01 = "My fater's wife is my mother."
var02 = 'He says "I love you."'
print(var01)
print(var02)

My fater's wife is my mother.
He says "I love you."

In [46]:
# 특수문자를 사용한 출력(\n, \t)
var03 = 'aaa\nbbb'
var04 = 'aaa\tbbb'
print(var03)
print(var04)

aaa
bbb
aaa	bbb